# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea/*
analysis_options.yaml
pubspec.lock
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
